<div class="header clearfix">
    <a href="{% url 'index' %}" class="logo"></a>
    <ul class="menu">
        {% for link in site_menu_links %}
            <li>
                <a href="{% url link.path %}"
                   class="{% if request.resolver_match.url_name == link.path %}
                            active
                          {% endif %}">
                     {{ link.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>