{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/inc_site_navigation.html' %}
        <h1 class="hero-title">Cart View</h1>
    </div>
{% endblock menu %}

{% block content %}
    {% if cart %}
        {% for cart_product in cart %}
            <div class="cart-details-products">
                <div class="cart-details-slider">
                    <div class="cart-slider-product">
                        <img src="{{ cart_product.product.image.url }}">
                    </div>
                </div>

                <div class="cart-description">
                    <h3 class="cart-big-bold">{{ cart_product.product.name }}</h3>
                    <p class="cart-price"> ${{ cart_product.product.price }}</p>
                    <p class="cart-quantity"> {{ cart_product.quantity }} items</p>
                    <a href="{% url 'cart:remove' cart_product.pk %}" class="red-button">
                        REMOVE FROM CART <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 style="padding: 50px 0;">No Items Avalable</h1>
    {% endif %}

{% endblock content %}

