{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/inc_site_navigation.html' %}
        <h1 class="hero-title">Our Products Range</h1>
    </div>
{% endblock menu %}

{% block content %}
    <div id="categories"></div>
    <div class="product-section padding-site">
        <ul class="tab-controll">
            {% for link in product_category_menu_links %}
                <li class="tab-list">
                    <a href="{% url 'products' current_product_category=link.url_param %}#categories"
                       class="{% if current_product_category == link.url_param %}
                                products-tab-link-active
                              {% else %}
                                products-tab-link
                              {% endif %}">
                        {{ link.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="trending-product-box">
            {% for product in product_list %}
                <div class="trending-product" style="background-image: url({% static '' %}img/trending-product-{{ product.id }}.jpg);">
                    <div class="trending-product-hover">
                        <div class="trending-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                        <h4 class="trending-product-h4">{{ product.description_title }}</h4>
                        <p class="trending-product-p">{{ product.description_text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'mainapp/includes/inc_promo_products.html' %}
{% endblock content %}
